.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
}

.wrapper {
  height: 50%;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.typed {
  margin: auto;
}
.header {
  font: 600 18px 'Segoe UI', Ubuntu, Sans-Serif;
  fill: #61dafb;
  animation: fadeInAnimation 0.8s ease-in-out forwards;
}
@supports(-moz-appearance: auto) {
  /* Selector detects Firefox */
  .header { font-size: 15.5px; }
}

.stat {
font: 600 14px 'Segoe UI', Ubuntu, "Helvetica Neue", Sans-Serif; fill: #ffffff;
}
@supports(-moz-appearance: auto) {
/* Selector detects Firefox */
.stat { font-size:12px; }
}
.stagger {
opacity: 0;
animation: fadeInAnimation 0.3s ease-in-out forwards;
}
.rank-text {
font: 800 24px 'Segoe UI', Ubuntu, Sans-Serif; fill: #ffffff;
animation: scaleInAnimation 0.3s ease-in-out forwards;
}
.rank-percentile-header {
font-size: 14px;
}
.rank-percentile-text {
font-size: 16px;
}

.not_bold { font-weight: 400 }
.bold { font-weight: 700 }
.icon {
fill: #61dafb;
display: block;
}

.rank-circle-rim {
stroke: #61dafb;
fill: none;
stroke-width: 6;
opacity: 0.2;
}
.rank-circle {
stroke: #61dafb;
stroke-dasharray: 250;
fill: none;
stroke-width: 6;
stroke-linecap: round;
opacity: 0.8;
transform-origin: -10px 8px;
transform: rotate(-90deg);
animation: rankAnimation 1s forwards ease-in-out;
}

@keyframes rankAnimation {
from {
stroke-dashoffset: 251.32741228718345;
}
to {
stroke-dashoffset: 225.58653141038369;
}
}




/* Animations */
@keyframes scaleInAnimation {
from {
transform: translate(-5px, 5px) scale(0);
}
to {
transform: translate(-5px, 5px) scale(1);
}
}
@keyframes fadeInAnimation {
from {
opacity: 0;
}
to {
opacity: 1;
}
}


.githubStat {
  width: auto;
  height: auto;
  max-width: 100%;
}