.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.typed {
  margin: auto;
}